[2020-04-06 14:20] dafriedman97 opened #1 "Time series data"
Thanks so much for posting this! I'm hoping to track mobility by date... the graphs Google released clearly show trends by county by date. Do you know of any way to scrape or otherwise obtain that information? Thanks

[2020-04-06 14:25] ladew222 commented on #1
Thanks here as well. I am looking at bringing it into the data explorer that is currently being built here:http://0.0.0.0:8000/.  Time series would be great, but some of this could be achieved by regularly pulling the data, I imagine. There is a project working on the time series here:https://github.com/datasciencecampus/mobility-report-data-extractor.  It does not have location information, howev

[2020-04-06 16:20] ActiveConclusion commented on #1
I didn't test [this code,](https://github.com/kylemcdonald/covid-mobility-data) but the author claims that his script allows you to collect data from graphs.

[2020-04-06 17:00] dafriedman97 commented on #1
I'll try it out and let you know. Thanks so much!

[2020-04-07 16:35] giorgiomondauto opened #3 "if filename not in files_source: --> to generate report"
In order to generate the report, it should not be:
'if filename in files_source' instead of 'if filename not in files_source':

[2020-04-07 17:23] ActiveConclusion commented on #3
If you want to generate the reports from scratch, delete next files:
1. "report_source.txt" - it's a file with PDFs list on which current reports are created and based on this file there is a check for adding new data.
2. Folder 'data'. Or if you don't want to download all PDFs from Google website again, set variable "new_files_status" to True in function "run".
3. The current generated reports or

[2020-04-07 19:31] giorgiomondauto commented on #3
Ah no. Your repository looks great as well as your code. Thanks for sharing it ;).

[2020-04-07 19:31] #3 closed

[2020-04-07 19:37] ActiveConclusion commented on #3
Did you manage to run the code?

[2020-04-07 20:45] ladew222 commented on #1
The only downside is that it requires manual download.  Also, the first group is now looking to add place-names as well, but they are manual download as well.  I am using this data in my dashboard currently but would love to have time-series eventually.

[2020-04-08 09:51] giorgiomondauto commented on #3
Yes Thanks a lot

[2020-04-08 17:50] jwhendy commented on #1
@ladew222 followed you here from [the otherissue](https://github.com/datasciencecampus/mobility-report-data-extractor/issues/13). Would you like a big 'ol csv of all US county data? I got as far as extracting the county names and order, which lets me associate them to the correct `./output/US-*/csv/n.csv`. If I looped through and merged them all, I could just share that .csv directly...

[2020-04-08 18:12] ladew222 commented on #1
That would be amazing @jwhendy.  It would be great to have time series as my tool uses correlations based on COVID  data from https://github.com/tomquisel/covid19-data as well as census data--and users would be able to see how this behavior is correlating on particular dates at the state and county level.

[2020-04-08 18:29] jwhendy commented on #1
I didn't wait :) Working on it now, though had a glitch I caught in multi-named places (US-New*, US-South*).

Interesting on what you're doing... my brother and I just [started putzing](https://github.com/jwhendy/covid19) on some analysis as well. I had very similar ideas, wondering if there were trends that could be identified. Our basic aim was to create an "anomaly" or "outlier" detection syste

[2020-04-08 19:35] jwhendy commented on #1
[Here you go](https://github.com/jwhendy/covid19/tree/master/data)!
- mobility-data-agg: the high level value pulled from the pdf for each state/county; note that this also contains the state-level averages (`df.county=='summary'`) and the states themselves (`df.area=='United States'`) so there's redundancy in that set
- mobilty-data-ts: time series data for each county. this *does not* have the U

[2020-04-08 19:46] ladew222 commented on #1
Cool. Just read your message.  We have similar goals, although your work is more statistically grounded. I did some early analysis in R, but then moved in the direction of visualization for general consumption which led me to use D3. I allows  users to view strength of correlation using a Pearson JS library but it not comprehensive in that regard. If the stats got more intense I would need to use

[2020-04-08 19:56] jwhendy commented on #1
I think I'm doing something similar, basically trying to visualize various relationships to see what matters. I think I'm just doing that via scatter and line plots vs. you using maps. Overall, my "statistical" approach is a rather blind hunting for obvious correlation.

So far, they aren't really jumping out at me. I think if any visualizer (or statistical analysis) is useful (vs. just being inte

[2020-04-08 21:24] ladew222 commented on #1
Thanks. And let me know if you see anything that does not make sense or something is missing. BTW, do you have a non-summerized version of the data you extracted, where the values for each county on a date can be discerned.  I would need this to integrate it into the county level map. If not, I can go back and work on that one.

[2020-04-08 21:49] jwhendy commented on #1
Hmmm. So you mean one entry per county per category per date? If so, is [this seems](https://raw.githubusercontent.com/jwhendy/covid19/master/data/mobility-data-ts.csv) like what you want? (I admit I had a filter on the wrong column name which didn't remove state level data, but the county level stuff was still there).

[code]
Let me know if I misunderstand.

[2020-04-08 22:12] ladew222 commented on #1
Yes. That would be perfect.

[2020-04-08 22:48] jwhendy commented on #1
File is linked above! It's available for you :)

[2020-04-08 23:10] ladew222 commented on #1
Thank for the contribution! I will let you know when I have it into the dashboard.

[2020-04-10 10:31] ActiveConclusion opened #4 "Why do we need this data?"
Well-collected data and beautiful visualizations - it's definitely very nice. But analytics for just analytics is usually useless in practice. So, my main question is next: how is possible to make a real call to action for communities/governments based on this data?
Feel free to share here your thoughts, your insightful dashboards and visualisations or your current researches.
Thanks!

[2020-04-10 16:31] dafriedman97 commented on #1
@jwhendy thanks so much for posting! Do you plan to keep this up to date? Sounds like google updated the mobility reports. Thanks!

[2020-04-10 17:06] ladew222 commented on #4
I wish I had an answer to that--I think all of us working here do.   With the help of John Hendy, my dashboard is now has the Google data and is [balefire.info](http://wwwbalefire.info). I am personally going to share al talk about it with peers and promote the use of the data as important to guiding policy and decisions.  But others may have more insights.

[2020-04-10 17:25] ActiveConclusion commented on #1
Thanks for the job, mates! But I recently explored "mobility-data-ts" file and found some serious errors. Here is a chunk of example:
| State | County   | seg                 | date       | Value   | Value from report |
|-------|----------|---------------------|------------|---------|------------|
| Ohio  | Lake     | Parks               | 29.03.2020 | -42,665 | 146        |
| Ohio  | Stark    | P

[2020-04-10 17:51] ladew222 commented on #1
Thanks for the discovery @ActiveConclusion. We do need to fix the errors. I will make a note on my dashboard as well.  I will also re-create my archive as it is broken out by day for easier processing by D3 on the dashboard.  I also wonder @jwhendy if the issues was on your end coming in from [https://github.com/datasciencecampus/mobility-report-data-extractor/](https://github.com/datasciencecampu

[2020-04-10 17:58] jwhendy commented on #1
It's probably me, but I haven't tracked it down yet. Just started looking. I checked Alabama and some from Wyoming, but obviously every state/county check is tedious. This is indeed helpful to have an example of where to look.

I do still have the svgs all downloaded.

[2020-04-10 18:05] ladew222 commented on #1
Great, thanks. Let me know if I can help.  I response to @dafriedman97, I noted that datasciencecampus's tools now directly downloads and cuts into csvs.  I think there is new data as well. I am hoping it also has the original data as well. I may give that a try, but need a figure out a way to best merge new with old and preserve it as well.

[2020-04-10 18:08] jwhendy commented on #1
Ok, I think I know why this is happening, but please continue to check. It's [known issue](https://github.com/datasciencecampus/mobility-report-data-extractor/issues/5). That was open when I did this, but now it's closed so it might be fixed (just asked).

So, first note that the PDF value for a county should be the last point in the raw data (2020-03-29 as you've shown). Looking at [my aggregate

[2020-04-10 18:16] jwhendy commented on #1
Fetched/merged. Re-downloading/generating everything. Going to stick with 2020-03-29 just to see if this works on the issues above, then update to include what looks to be data through April 05.

[2020-04-10 18:58] jwhendy commented on #1
Ok, still broken. The test case works, but I think it's because as of April 05 it's no longer over the 80% value which gives problems to their svg extractor:
[code]
End of time series for Ohio, Lake County, Parks (so, 54% change overall is correct):
[code]

Now, those are now < 80% so not a good test case. Ohio, Lucas is one:
[code]
38  Ohio  Lucas  Parks  01/04/2020   19.385
39  Ohio  Lucas  Park

[2020-04-10 19:38] ActiveConclusion commented on #4
@ladew222 Thanks for creating and sharing this delightful dashboard, excellent job! My small recommendation for UI is to change the date range slider to something like the [date range picker](https://www.daterangepicker.com/), everything else is pretty ok. Do you have plans to create a dashboard like this for other countries?

[2020-04-10 19:43] jwhendy commented on #1
Data is uploaded to [my repo](https://github.com/jwhendy/covid19/tree/master/data). If @ActiveConclusion and @ladew222 could spot check to spread out the effort, that would be awesome.

[2020-04-10 19:46] ladew222 commented on #4
Thank you. I will look into a date range picker. The current one which uses JQueryUI does not work with mobile so another reason to switch.  It would be good to have one for other countries or a global version if I could pull it off. I know the google data would be there. I do not know how to pull demographic info but I will investigate.  My background is in US geospatial analysis, so I have relie

[2020-04-10 20:31] ladew222 commented on #1
Thanks, I will take a look, hopefully today. I decided to append the fips Ids info before uploading in R. After verified, I will re-run that and upload the files, and take away the note in the about section.

[2020-04-10 20:41] jwhendy commented on #1
Do you have that somewhere? I was just bitten by the NY Times COVID data vs. Census data county naming. Like I found that one of them had "Virginia Beach" and another had "VIrginia Beach city". Do you have a robust way you're handling that? I did find fips to be more reliable, but not all datasets I'm working with have it... That said, state+county -> fips is non trivial if county naming is ambigu

[2020-04-10 21:14] ladew222 commented on #1
I have some code in R and some in javascript that does the work. I use javascript because I get my covid data from Tom Quisel who sources from CBS which does not have fips. But for the google data, I had to split it up into multiple files in R, so I added the fips in there as well to save resources in JS.  I am not sure I have the perfect way to do this fuzzy merge.  What I am currently doing is u

[2020-04-11 19:44] jwhendy commented on #4
My brother and I started putzing on data. He initially inquired about the relationship of population density to the spread of COVID-19. I figured that was a rather trivial case to make, as population density should exponentially increase interactions and shared spaces... but then it dawned on me that stay-at-home orders should serve as an effective reduction in density.

Our idea morphed into what

[2020-04-11 20:43] jwhendy commented on #1
Update: it didn't initially dawn on me that the release of new data (through 2020-04-05) would bring about a split in coverage periods. I've re-run my extraction code and now have date-based snapshots in [my repo](https://github.com/jwhendy/covid19/tree/master/data).

@ladew222 _this will be a breaking naming convention if your dashboard is pulling from a URL_!

New structure:
- `mobility-data-agg

[2020-04-11 21:16] jwhendy commented on #4
This is the time series data for CA and NJ (earliest stay at home orders, 03-19 and 03-21)  vs. FL and GA (some of the latest orders, 04-03). How does this make any sense?

![mobility-by-segment_ca-nj-vs-fl-ga](https://user-images.githubusercontent.com/379357/79055074-a1418200-7c0f-11ea-9fa0-df307558bfad.png)

In particular, look at workplace vs. residential. _Everyone_ starts their coordinated de

[2020-04-11 22:51] ladew222 commented on #1
Thanks. I do not pull directly as I split it into files based on date so the JS can handle it better.  I will go through a process to split the new stuff. Was thinking this would happen. Thanks for documenting the change. I will start importing knowing this is the case.

[2020-04-12 09:31] ActiveConclusion commented on #1
@jwhendy I checked the file "mobility-data-ts_2020-03-29.csv", below is a small chunk of errors:
| State      | County    | seg              | Date       | Value   | Value from report |
|------------|-----------|------------------|------------|---------|-------------------|
| Minnesota  | Sherburne | Residential      | 29.03.2020 | -48,562 | 20                |
| Wisconsin  | Marathon  | Parks

[2020-04-12 16:46] jwhendy commented on #1
@ActiveConclusion I'm not sure how to tackle these. Following up on two of them:

[code]

[code]

So, the data is correct, in a sense. It's a question of whether or not the csvs are accurate and/or if somehow the county/segment ordering I derive is off.

I was going to post an issue at the mobility report extractor, but not sure it's worth it. They have a `full` option now, which basically does th

[2020-04-12 20:56] ActiveConclusion opened #5 "Error in Google Reports?"
I've been trying to calculate total values for the US through state values. It is intuitively clear that the value of each state must be weighed with the number of the state population, so the formula for the total value has the following form:
![equation](https://latex.codecogs.com/gif.latex?Value_{i}&space;=&space;\frac{\sum_{j=1}^{Nstates}&space;value_{i}^{state_{j}}*population^{state_{j}}}{\su

[2020-04-12 21:11] ladew222 commented on #1
Thanks for looking into this.  Once you have the data, I will work on pulling it in. I have the second pull in the system now.  You can now display scatterplots on top of the map as their was a request for that feature and it makes some sense when looking at the mobility data as the real goals of isolation is to slow the curve growth.   As such, you can now look at the curve and a log of the curve

[2020-04-12 23:25] jwhendy commented on #1
Ok, fixed this up. tl;dr: eEverything is based on the output of `python mobius.py full` now. Files are updated in the [same place](https://github.com/jwhendy/covid19/tree/master/data).

---

While I was at it, I checked deltas myself (checking the headline value against the last time series value for each state/county/segment. I had two findings:

- as a fluke, I originally checked the first headl

[2020-04-13 00:15] ladew222 commented on #1
Thanks. I will download tonight and build a process to merge the old and new timeframes.  I will probably start with the newest and visit older files and grab what the newer files do not have. The interface has also gone through changes. There is now an option to overlay a scatterplot for timeframes and improved help documents in response to some user feedback.

[2020-04-13 00:21] jwhendy commented on #1
The `mobility-data-ts_all.csv` file merges both sets (spans 2020-02-16 through 2020-04-05). It opts for all of the 2020-04-05 dataset (2020-02-23 through 2020-04-05) and prepends the 2020-03-29 set for the earlier dates.

Feel free to [grab that directly](https://github.com/jwhendy/covid19/blob/master/data/mobility-data-ts_all.csv) if it's easier.

[2020-04-13 12:16] ladew222 commented on #1
Great. Perfect. Thanks. I got the file. I will let you know when I have the balefire.info updated.  Should not take too long.

[2020-04-13 15:10] ladew222 commented on #1
The files have been split and uploaded, I am going to change the date limits to match the new data. Currently, I can only go back to 3-14 as that is when Tom Quisel's data starts. They are discussing backfilling their repository with NY times data.  When done, I well be able to go back further.

[2020-04-13 16:07] jwhendy commented on #1
@ladew222 which dashboard has this?

Is yours [the balefire one](http://balefire.info/#)?

[2020-04-14 09:23] Uettwillera commented on #5
Probably tourists/visitors from abroad/another state?

[2020-04-14 16:31] ActiveConclusion commented on #5
@Uettwillera Maybe. Or maybe in some states, people regularly go to parks, and in others, they don't usually go there, so for the second one, quarantine really doesn't affect park attendance. But according to these calculations, it looks like this difference between states is significant, and it would be interesting to know where the anomaly is.
In any case, the calculation of the total values for

[2020-04-14 16:32] #5 closed

[2020-04-14 23:40] jwhendy commented on #4
I just read [an article](https://www.vox.com/2020/4/7/21205890/coronavirus-covid-19-pandemic-new-york-california) which prompted me to post the above visualization (after replacing NJ with NY) on [reddit](https://www.reddit.com/r/dataisbeautiful/comments/g1g6q8/oc_ca_ny_fl_and_ga_activity_levels_compared_using/). There may be some relevant discussion that emerges.

[2020-04-15 00:52] ladew222 commented on #4
Interesting.  I am working on adding more filters to graphs and hopefully the maps.  Remaking a bit of the data-handling to handling to make more feature requests possible.  I am planning to create the ability to chart and compare state totals.  I may also add the ability to compare counties, but will let requests guide me. If there are any feature requests, let me know. I also want to be careful

[2020-04-16 14:43] grigopop commented on #1
@jwhendy, thanks so much for doing this!
One quick question: it seems that Washington DC is missing from the ts files. Is there any way to add it?

[2020-04-16 14:48] ladew222 commented on #1
Absolutely. As an FYI,Yesterday, the ability to do multiple lines on one plot was also added.  You can look at multiple state or counties although that gets messy as it does all counties in a state. Thanks for the catch.  I will look through the merge and locate the problem and fix.

[2020-04-16 16:06] ActiveConclusion commented on #1
Well, since the problem is open in my repository, it's time for me to get it over with.
There will be no time series parser in this repository because I am absolutely dissatisfied with the accuracy of my parser and other such parsers on GitHub. I think that soon we will see this data from Google in a normal way because currently, this is only an early release of reports.
As for Apple reports, they

[2020-04-16 16:06] #1 closed

[2020-04-16 19:23] jwhendy commented on #1
@grigopop I had a look at this. It's because of [this comment](https://github.com/ActiveConclusion/COVID19_mobility/issues/1#issuecomment-611151278).

The way the data is fetched/stored, these state-level summaries occur when `state==county` (or, in the column names of the raw data, when `country==region`). Because DC is treated like this, my filter to remove state summaries also removed DC. I did

[2020-04-16 19:33] ladew222 commented on #1
I agree.  I am running into some problems of my own with the data which I believe are on my end. For some reason the choropleth is loosing variation on the newer data(confirmed) when NY is included. Something with  high relative numbers I am guessing.  I may put a note for current users of the site. State by state is fine

[2020-04-16 19:48] jwhendy commented on #4
I saw @ActiveConclusion mention the Apple data. Has that been compared to this? The core point from above which hasn't been addressed: **What does it mean that states with severely delayed stay at home orders have identical mobility trends to the earliest states with these orders?**

Either way I see a dead end:

- the data is accurate: the same mobility changes across all states mean it is an irr

[2020-04-17 06:38] ActiveConclusion commented on #1
Finally, Google published a CSV file with time series

[2020-04-17 08:51] ActiveConclusion opened #6 "Scraper of Mobility reports v 2.0"
Google recently published a mobility report with time-series in CSV format. You can download it on [their website](https://www.google.com/covid19/mobility/).
That means there's no need for a PDF file parser anymore. Due to that, I plan to change the concept of this repository.
Here are my points that I propose to implement here:

0.  Archive the PDF parser as part of the great history of this repo

[2020-04-17 11:53] ladew222 commented on #6
Great! I will pull this into balefire.info for USA.  The color shading was resolved as an FYI. I am using D3 and D3Plus for my visuals.  The drawback is my visuals are USA obviously.  I can look into the possibility of doing a global as it would involve mostly ignoring/reducing the data merges.

[2020-04-18 03:44] ladew222 commented on #6
I got the google data in the system.  It is pretty interesting. I do need to sit down with it some time but there are some pretty telling Pearson coefficients correlating with it.  I also see that confirmed cases per 10k is higher when mobility data is higher. What I really should do is assess the log of that two weeks after to see if there is a correlation there. The graphs suggest that is the ca

[2020-04-18 08:18] ActiveConclusion commented on #6
@ladew222 Cool! I hope that I compile a summary file from Google and Apple reports in the next 2-3 days.

[2020-04-18 13:10] ladew222 commented on #6
Wow cool.

[2020-04-19 03:25] jwhendy commented on #1
Bummer, no asterisk column so you can't remove locations with low confidence.

[2020-04-21 13:30] ActiveConclusion commented on #6
I've recently made a couple of updates, so I summarize what's been done here:

0.  Everything related to PDF parser now is in the directory ["scraper v 1.0".](https://github.com/ActiveConclusion/COVID19_mobility/tree/master/scraper%20v%201.0)
1.  Apple report is now automatically downloaded to the repository every day. But with Google data now a little problem: if the CSV download is okay, the abi

[2020-04-21 14:03] ladew222 commented on #6
Cool. Here is the choropleth of residential mobility as it is now if you havent seen it.
<img width="937" alt="Screen Shot 2020-04-20 at 9 01 17 PM" src="https://user-images.githubusercontent.com/3679243/79875175-e05d9900-83ae-11ea-8d53-20c6fc8332ee.png">

[2020-04-21 17:27] ActiveConclusion commented on #6
Wow, looks nice! But I couldn't reproduce this picture in your dashboard( I got it like this:
![balefire](https://user-images.githubusercontent.com/63144882/79894541-46c5d400-840e-11ea-947f-fc5b074354f0.PNG)

Maybe, I didn't press some button or checkbox?

[2020-04-21 17:33] ladew222 commented on #6
My fault. It looks like Google does not have significant enough data for that metric. Retail and Recreation has the fuller map.

[2020-04-21 18:11] ActiveConclusion commented on #6
Got it, thanks! I suggest adding the ability to make a breakdown by states, it will allow us to see the picture throughout the United States.

[2020-04-21 18:17] ladew222 commented on #6
Makes sense. It was on my list and fell off. I will add that in.

[2020-04-21 18:35] ActiveConclusion commented on #6
Yes

[2020-04-29 07:51] ActiveConclusion opened #8 "Apple report update doesn't work"
Recently, Apple changed the report format (added more regions and columns), so currently processing their data doesn't work. I will try to fix this issue in 1-2 days.

[2020-04-29 21:23] ActiveConclusion commented on #8
The fixing process was very painful, but it's over. The city/sub-region matching table may have some small mistakes because I mostly made this table manually.
But now the process of correcting the summary table is just beginning...

[2020-04-29 21:23] #8 closed

[2020-04-29 21:46] ActiveConclusion commented on #6
Last week's Update Digest:

1. The problem with downloading Google PDF reports fixed (I fixed this problem a week ago, just didn't write here).
2. Apple has added more regions/cities to their report. The main problem with it is that cities and subregions go without country names, but I have already fixed this issue (it was a challenging issue for me).
3. With the addition of new data from Apple, t

[2020-04-30 09:06] lisacharlotterost opened #9 "Bring back raw Apple mobility data"
Thanks for providing the data! I noticed that since this morning, the raw CSV file with the Apple data [leads to a 404](https://github.com/ActiveConclusion/COVID19_mobility/blob/master/apple_reports/applemobilitytrends.csv). Would be very much appreciated if you could bring it back :) Thank you!

[2020-04-30 09:22] ActiveConclusion commented on #9
Sorry for the inconvenience, I was making some fixes in the repository at the same time, so the file was temporarily missing( It's in place now.

[2020-04-30 09:22] #9 closed

[2020-04-30 09:23] lisacharlotterost commented on #9
Great, thank you!

[2020-05-01 08:47] ActiveConclusion opened #10 "Matching cities/sub-regions to countries in Apple reports does not work properly"
Lately, Apple has been adding new cities/sub-regions to its report every day. Due to this, I have not been able to solve this problem automatically yet, so I have to add new entries to the [matching table](https://github.com/ActiveConclusion/COVID19_mobility/blob/master/auxiliary_data/sub%26city_country_Apple.csv) manually. I will write here about each fix to the matching table.

[2020-05-01 10:27] ActiveConclusion commented on #10
Fixed for the update for 29.04.

[2020-05-03 20:52] ActiveConclusion commented on #10
Looks like Apple stopped surprising with new cities and subregions in the report every day, so, for now, I close this issue.

[2020-05-03 20:52] #10 closed

[2020-05-04 21:30] ActiveConclusion commented on #6
Latest updates:

- Recently, Google Sheets with US detailed data crashed due to a large amount of data for one sheet. My apologies for everyone who used this spreadsheet as the source, currently you can use [CSV](https://github.com/ActiveConclusion/COVID19_mobility/blob/master/google_reports/mobility_report_US.csv) version of this report. Maybe, I will reformat this Google Sheets (e.g. split the s

[2020-05-13 17:05] ActiveConclusion commented on #6
I haven't written anything here in a while, but I should have. So, point by point:

- Until today, the parser has been working successfully for a long time automatically without my intervention. But strange things are happening on the Apple website today, so I predict the problems tonight.
- I haven't fixed the problem with Google Sheets for the US yet, but there's already some progress.
- Lately,

[2020-05-13 19:21] ActiveConclusion opened #11 "Apple's issues: Data for May 11-12 is not available"
As I [predicted](https://github.com/ActiveConclusion/COVID19_mobility/issues/6#issuecomment-628123792), today there are problems with updates on the Apple website. As reported on their [website](https://www.apple.com/covid19/mobility):

In this repository, the [raw report](https://github.com/ActiveConclusion/COVID19_mobility/blob/master/apple_reports/applemobilitytrends.csv) will be the same as on

[2020-05-15 03:15] Banistas commented on #11
Hi. Due to those issues, it look like the raw csv file is missing data for the 11th and 12th of May, even though this data is now available on the Apple site. I thought I'd let you know, so you could potentially look into refreshing the data to include those numbers. Cheers.

[2020-05-15 07:24] ActiveConclusion commented on #11
Hi! I just checked again and see that Apple added data for May 13, but data for May 11-12 remain blank (such as in this repository). My script automatically processes the original CSV file from the [Apple site](https://www.apple.com/covid19/mobility).

[2020-05-18 17:28] cipolataman commented on #4
How we use the data - see [https://www.agility.asia/covid] for analysis, discussion and projections across 26 countries:
1) Cross-correlating mobilities against one another to determine their correlative link pre and post lockdowns - useful for generating hypothesis on how mobilities related to one another, e.g. use of transit to get to work, shops etc
2) Using above to determine differences acros

[2020-05-18 20:45] ActiveConclusion commented on #4
@cipolataman Great research, well done! Thank you for sharing your results, I've also subscribed for new updates :) I'll try to explore deeper the research in free time.

[2020-05-20 08:32] ActiveConclusion opened #12 "Apple: report format changed"
Today, Apple changed report, so data processing script currently doesn't work. I noticed two main updates:

1. Added country column
2. Added data for the US counties

I think that it's good to process on the same principle such as in Google Reports: create one report for the worldwide (w/o US counties) and second detailed for the US.
I hope to do it in the next 1-2 days😊

[2020-05-20 21:35] ActiveConclusion commented on #11
Apple has already added data for the week after May 12, but data for May 11-12 is still missing. Unfortunately, it looks like this data won't be available permanently... It's very sad, given the fact that it is for these dates data is particularly interesting that in many countries quarantine restrictions weakened.
Added note about this issue in README.

[2020-05-20 21:35] #11 closed

[2020-05-20 21:51] ActiveConclusion commented on #12
In general, the script is fixed. I did as I wrote above, you can see the results [here](https://github.com/ActiveConclusion/COVID19_mobility#apple-reports). There may be some minor changes.
But I had to temporarily disable the merging of Google and Apple reports, so I will try to rework it soon.

[2020-05-23 11:17] ActiveConclusion commented on #12
Merging of Google and Apple reports is fixed too.
I leave this issue open for some time for suggestions/comments about it.

[2020-05-27 07:40] Damjanv1 commented on #4
Hey there I use the Apple data for a dashboard that I have created for my home state in Australia

https://public.tableau.com/profile/damjan.vlastelica#!/vizhome/CovidNSWTracker/HomeDash?publish=yes

[2020-05-27 09:54] ActiveConclusion commented on #4
Hey @Damjanv1! Nice dashboard, very detailed and insightful. Thanks for sharing!

[2020-05-28 22:24] jiweiqi commented on #4
Thanks a lot. We have used Google/Apple mobility data to predict future US Fuel demand. The results can be found at https://covid19-mobility.com.

[2020-05-29 05:37] Damjanv1 commented on #4
That's smart.. Looks good thanks for sharing

[2020-05-29 09:00] ActiveConclusion commented on #4
@jiweiqi Wow, great work! This is a non-trivial way to use this data, but it looks simple and logical. I would be interested to look at some quality metrics of the model. Thanks for sharing!

[2020-05-29 13:33] jiweiqi commented on #4
@ActiveConclusion Yeah. That'a really a good suggestion. I am thinking of presenting the mobility index projection state by state, and we can show the R-square state by state.

[2020-05-31 20:49] ActiveConclusion commented on #12
No comments - no issue

[2020-05-31 20:49] #12 closed

[2020-06-12 10:32] ActiveConclusion opened #16 "Google: report format changed"
Google added in a recent update two columns:

1. iso_3166_2_code
2. census_fips_code

I'm not sure that these attributes are useful, but some fixes needed to the script.

Also, Google added more regions.

[2020-06-26 07:34] ActiveConclusion opened #19 "Add Waze data scraper"
https://www.waze.com/covid19

[2020-06-26 17:45] ActiveConclusion commented on #19
Waze data was added to the repository. Currently, my script preprocesses raw data automatically, while the raw data will be manually uploaded to the repository by me. Merging with Google and Apple reports will be done later.

[2020-07-04 09:28] ActiveConclusion commented on #19
Automatic downloading of Waze data is a difficult problem because the data can only be obtained from Google Data Studio dashboard. Simple Html-parser does not work here, but this task can be solved with the Selenium library. On GIF below you can see how I can automatically retrieve data using this library. I have to log into my Google account first for the "Download СSV" button to be available on

[2020-07-15 11:22] ActiveConclusion commented on #19
Waze data updating is now automated.

[2020-07-29 03:40] iMarcello opened #22 "Data with dates duplicated?"
Hi, first at all thank you very much for share this data! Is a very useful resource.
Today I have read the data in a PAndas DataFrame and I  have encountered duplications in date however with different data.
As an example:
                    country	region	date	               retail and recreation	workplaces
199877	Nicaragua	Total	2020-02-15	6	                         4
199878	Nicaragua	Total	202

[2020-07-29 04:49] cipolataman commented on #22
Same issue as above - noticed the entry for Egypt had this error.

[2020-07-29 07:05] ActiveConclusion commented on #22
Hi! Thanks for reporting the issue, I will look into it. I suppose it caused by changes in the original Google Mobility reports.

[2020-07-29 09:21] ActiveConclusion commented on #22
So, there are two significant changes in the last update of Google reports:
1) Added metro_area column. It's one more administrative level, for metropolitan areas.
2) Before this update, the second level of subregions (column sub_region_2) was used only for the US counties. Now, there are many countries for which data on this level were added.

It's very good that Google added more data, but from

[2020-07-30 01:59] iMarcello commented on #22
Hi again, thanks for your help and fast response.
No duplications for Nicaragua.
I also test Egyot (EG) with good results also.
Again, VERY APPRECIATED!
Regards.
![EG_Google_Mobility](https://user-images.githubusercontent.com/46616553/88871746-e47f2b00-d1d5-11ea-9719-a0a688ba0c9f.png)

[2020-07-30 02:04] cipolataman commented on #22
@ActiveConclusion you legend! Thank you for the quick fix. Super appreciated.

[2020-07-30 08:29] #22 closed

[2020-07-30 08:39] ActiveConclusion commented on #16
There are two significant changes in the last update (2020-07-27) of Google reports:

1. Added metro_area column. It's one more administrative level, for metropolitan areas.
2. Before this update, the second level of subregions (column sub_region_2) was used only for the US counties. Now, there are many countries for which data on this level were added.

Currently, I exclude data for the second le

[2020-08-04 06:47] ActiveConclusion commented on #16
The raw Google Mobility report is stored in the ZIP archive in this repo now due to the large file size.

[2020-08-06 20:57] ActiveConclusion commented on #16
After some time of reflection, I decided to make a breakdown of the data by geographic principle.
So, in the recent update, I added detailed reports for Brazil (a lot of data is available for them) and for the world regions (Europe, Asia+Africa, North and South America + Oceania). You can check new data [here.](https://github.com/ActiveConclusion/COVID19_mobility#google-reports)
Also, I decided to

[2020-08-06 21:31] annabonner opened #25 "How correctly to cite your dataset for publication?"
First of all, thank you for providing this data!
I am using your dataset in my research (merged Google and Apple data: https://github.com/ActiveConclusion/COVID19_mobility/blob/master/summary_reports/summary_report_regions.csv), but I don't know how correctly write a reference for it. I don't understand, what does it mean "ActiveConclusion"? Is it some organisation or a simple nickname? Could you

[2020-08-07 12:22] ActiveConclusion commented on #25
To be honest, I don't know how it is academically legal to cite this repository, as it is just an aggregator of other data sources. I think the most important is to cite the original data sources. For example, Google [here](https://www.google.com/covid19/mobility/data_documentation.html?hl=en) asks you to do it like this:
Google LLC "Google COVID-19 Community Mobility Reports".
https://www.google.

[2020-08-07 20:00] annabonner commented on #25
@ActiveConclusion Thank you, I appreciate it! I think that data aggregation it's not an easy problem, so it would be unfair not to cite your repository in my research.
I researched more deeply the question of citing the Github repository in an academic paper and found this [guide](https://guides.github.com/activities/citable-code/). It would be great if you made these instructions for your reposit

[2020-08-08 08:17] ActiveConclusion commented on #25
@annabonner Ok, I'll try to implement it in this repository. Thank you for the good suggestion!

[2020-08-10 14:39] ActiveConclusion commented on #25
I added my repository to Zenodo. It's available here: https://zenodo.org/record/3978281#.XzFXaij7RPY. But, unfortunately, I was not able to make this repository automatically synchronize with Zenodo on every update. I will probably update the data there regularly manually (weekly or monthly).

So, now you can cite this source like this:
Kulik O. (2020). COVID-19 Mobility Data Aggregator. Online: h

[2020-08-10 18:54] #6 closed

[2020-08-11 10:23] annabonner commented on #25
That's great! Thank you very much!

[2020-08-11 10:43] #25 closed

[2020-08-13 17:25] #16 closed

[2020-09-01 13:47] ActiveConclusion opened #26 "Add Uber Movement Data"
Source: https://movement.uber.com/

Currently, I don't have an idea of how better to process this dataset, but it can be useful.

[2020-09-23 07:08] ActiveConclusion opened #27 "Google: updates in some categories are temporarily suspended"
From Google Community Mobility Reports website:

[2020-10-06 07:47] ActiveConclusion commented on #27
This issue is fixed.

[2020-10-06 07:47] #27 closed

[2020-11-12 13:09] ibarraespinosa opened #28 "Tomtom data"
Hello friends, thank you for this repo. Do you have any plans to include tomtom traffic index? https://www.tomtom.com/en_gb/traffic-index/

[2020-11-12 16:09] ActiveConclusion commented on #28
Hello @ibarraespinosa! Thank you for a good idea, I think it would be great to add this data to this repository. I will try to do it in my spare time.

[2020-11-16 14:26] ActiveConclusion commented on #28
@ibarraespinosa I added TomTom data, you can get it [here](https://github.com/ActiveConclusion/COVID19_mobility#tomtom-reports).

[2020-11-19 17:44] #28 closed

[2020-11-19 17:49] ActiveConclusion commented on #19
Merging with other data is postponed.

[2020-11-19 17:49] #19 closed

[2020-11-19 17:53] ActiveConclusion commented on #26
Unfortunately, it seems that this dataset cannot be useful for this repository :confused:

[2020-11-19 17:53] #26 closed

[2021-02-03 08:42] MartinHBA opened #33 "summary_report_countries updates"
hi team, we have last update 4 days ago, is it your automation working ok? why we don't have updates on this dataset please?

[2021-02-03 08:54] ActiveConclusion commented on #33
Hi @MartinHBA! Thanks for reporting the issue, I will try to fix it asap.

[2021-02-03 09:13] ActiveConclusion commented on #33
@MartinHBA The issue has been resolved. Sorry for the inconvenience.

[2021-02-03 09:15] MartinHBA commented on #33
thanks!

[2021-02-03 09:15] #33 closed

[2021-02-03 17:02] #4 closed

[2021-03-09 04:46] DanielFokChunHoe opened #35 "Excel and CSV data for TomTom only shows 2021 data while Google Sheets shows full historical data"

[2021-03-09 07:34] ActiveConclusion commented on #35
Thanks for reporting the issue, I will fix it.

[2021-03-09 09:46] ActiveConclusion commented on #35
@DanielFokChunHoe I've brought back the historical data. Please check if everything is ok.

[2021-03-09 09:46] #35 closed

[2021-03-16 19:50] MartinHBA opened #37 "missing March 12th"
Hello, I see missing data in dataset for Apple data on March 12th
dataset for Slovakia
https://github.com/ActiveConclusion/COVID19_mobility/raw/master/summary_reports/summary_report_countries.xlsx
it's all "null" that day, but days before and after are okay

[2021-03-16 20:15] ActiveConclusion commented on #37
Hello @MartinHBA! Unfortunately, it's a [source](https://covid19.apple.com/mobility) issue 😕
![image](https://user-images.githubusercontent.com/63144882/111373389-8049a280-86a4-11eb-925c-878756867fe2.png)

[2021-03-16 20:21] MartinHBA commented on #37
Oh.... :(

[2021-03-16 20:21] #37 closed

[2021-05-12 01:55] DanielFokChunHoe opened #40 "China TomTom data ends 20th April 2021 with no more new data"

[2021-05-12 09:08] ActiveConclusion commented on #40
Hello @DanielFokChunHoe ! Thanks for reporting. Unfortunately, it's a [source](https://www.tomtom.com/en_gb/traffic-index/beijing-traffic) issue 😕
![image](https://user-images.githubusercontent.com/63144882/117948536-e3109080-b319-11eb-8923-5ce578765ad9.png)

**TODO:**

- Add a note about that to Readme
- Add China data to historical file
- Do check for other countries/cities

[2021-07-15 10:57] ActiveConclusion opened #42 "summary_report_US.csv exceeds GitHub's file size limit"

[2021-08-12 07:17] MartinHBA opened #43 "summary report waze for europe"
hi guys, looks like Waze data stopped around 20.7.

[2021-08-12 21:31] ActiveConclusion commented on #43
Hey @MartinHBA! Thank you for reporting. It seems that Waze has stopped updating its data.
![image](https://user-images.githubusercontent.com/63144882/129272505-168cb449-316a-4ce3-93a8-44ee7158ceeb.png)
![image](https://user-images.githubusercontent.com/63144882/129272672-d1c77f76-e77c-479c-aa5f-1f4295f3ed1b.png)

[2021-08-13 09:19] MartinHBA commented on #43
thx a lot!

[2021-08-13 09:19] #43 closed

[2021-10-06 22:19] oleh-kulik opened #44 "100% failure rate"
Job: https://github.com/ActiveConclusion/COVID19_mobility/runs/3820562081?check_suite_focus=true

[2021-10-08 19:45] ActiveConclusion commented on #44
Fixed

[2021-10-08 19:45] #44 closed

[2021-10-08 19:46] ActiveConclusion commented on #42
error: File google_reports/mobility_report_america_oceania.csv is 100.02 MB; this exceeds GitHub's file size limit of 100.00 MB

[2021-10-09 17:30] hhammoud23 opened #46 "Waze Data Has Returned"
Hi,

Thank you so much for writing these scrapers and providing this data. I noticed that the Waze data stopped updating in July. Although it was paused for a time, it seems like they're now providing data again if you look at their website. Is there any way to continue updating the scraper? Thanks!

[2021-10-09 17:42] ActiveConclusion commented on #46
Hi @hhammoud23! That's great, thank you that you spotted that! I will check the old scraper for Waze or will make a new one for it.

[2021-10-09 18:51] ActiveConclusion commented on #46
Waze data has been updated.

[2021-10-17 18:57] ActiveConclusion opened #47 "Data in the repository cannot be updated due to the repository exceeding quota size"
It's very sad, and unfortunately, I won't be able to fix it quickly because I'm currently sick with a coronavirus🤒. Suggestions/ideas on how to handle this situation are highly welcome.

[2021-10-27 15:28] ActiveConclusion opened #48 "[IMPORTANT] Data migration and optimization"
Hi there,
As you know, this repo had some troubles with the [size quota](https://github.com/ActiveConclusion/COVID19_mobility/issues/47). So the current solution for data updates should be optimized. I am in the progress to find a better solution, so data will be migrated to another cloud storage or will be split across several repos. I will inform you about all changes in this topic.

**!!! IMPOR

[2021-11-29 13:50] ActiveConclusion opened #49 "TomTom scraper is failing"

[2021-11-29 23:02] ActiveConclusion commented on #46
Waze data is updated properly.

[2021-11-29 23:02] #46 closed

[2021-11-29 23:05] ActiveConclusion commented on #40
Done

[2021-11-29 23:13] ActiveConclusion commented on #49
Fails have been fixed. I will validate the scraper after the crawl on 30.11.2021.

[2021-11-30 13:48] ActiveConclusion commented on #49
Works fine: https://github.com/ActiveConclusion/COVID19_mobility/runs/4367558093?check_suite_focus=true

[2021-11-30 13:48] #49 closed

[2022-02-14 13:33] Tomkernow opened #52 "Waze data is not up to date"
Hi,

Waze mobility data has not been updated for 10 days.

How can we fix this issue?

Cheers

[2022-02-14 16:58] Tomkernow commented on #52
Hi!

Thanks for your quick response.
I would love to hlep but do not have the quant skills to be of much use....
Do you think you will have time to fix it by the end of the week? If not, I can ask around for some help.

Best regards

[2022-02-14 23:22] ActiveConclusion commented on #52
Manually updated on 15.02.22

[2022-02-15 09:16] Tomkernow commented on #52
I appreciate you taking the time to update the values! Big help!
I hope you stay safe and well....

[2022-02-20 20:33] oleh-kulik commented on #52
I need more time to investigate how to rework scraper. I will update data manually at the moment.

[2022-02-22 21:41] ActiveConclusion commented on #52
Manually updated 22.02.22 (twosday)

[2022-03-01 09:01] Tomkernow commented on #52
Thanks a lot for updating everything manually! Please continue to do so if possible......
Hope you are staying safe!

[2022-03-01 10:53] ActiveConclusion commented on #52
Thank you, I am holding on and I am sure that we'll win this war. I can update the data during breaks between bombardments. But also I think it will be a good idea to provide instructions/accesses for someone else for updating the data. Volunteers are welcome.

Glory to Ukraine! Glory to Heroes!

[2022-03-07 08:23] Tomkernow commented on #52
Hi. Hope all is okay on your side....  Can you update the data?  Instructions for the update are welcome - please post them here when possible - I can give it a go.
Cheers!

[2022-03-07 10:21] ActiveConclusion commented on #52
Thanks, I am fine. Good, I will post instructions as soon as I can. Checked for updates, but it seems that Waze didn't update the data on their source https://datastudio.google.com/reporting/fe8a3c7d-9303-4e70-8acb-4e042714fa76/page/bhuOB

[2022-03-09 14:25] Tomkernow commented on #52
Hi! I have contacted Waze and they have updated their data

[2022-03-12 20:08] ActiveConclusion commented on #52
Manually updated 12.03.22

[2022-03-21 18:58] ActiveConclusion commented on #52
Manually updated 21.03.22
P.S. Shopping mall in Kyiv before and after russian demilitarisation 😡
![Kyiv](https://user-images.githubusercontent.com/63144882/159344615-c28e7671-ac8d-4e6c-b56a-c0257b564a7e.jpg)

[2022-03-28 12:01] Tomkernow commented on #52
Damn that's absolutely crazy....

[2022-03-28 12:04] Tomkernow commented on #52
I don't think I have access to the repo in order to update files manually

[2022-03-28 12:57] ActiveConclusion commented on #52
Hi @Tomkernow! I sent you an invite to the repo: https://github.com/ActiveConclusion/waze_mobility_scraper
You should accept it here:
![github-invite](https://user-images.githubusercontent.com/63144882/160402321-05d9c777-0505-402f-9a42-9911e9e060e2.png)
Please let me know if you will have any other issues.
Thank you!

[2022-03-28 14:52] Tomkernow commented on #52
Ah... it has expired. Please send again if possible

[2022-03-29 19:24] ActiveConclusion commented on #52
Manually updated 29.03.22

[2022-04-01 16:27] Tomkernow commented on #52
CHEERS - please make sure is is updated again.
If possible, please post instruction on how to write new code to automise this.

[2022-04-09 18:59] ActiveConclusion commented on #52
Implemented a draft version of the new scraper. Testing results.

[2022-04-11 14:26] ActiveConclusion commented on #52
Successfully updated with scraper 11.04. Closing this issue. Will reopen if needed.

[2022-04-11 14:26] #52 closed

[2022-04-21 20:02] ActiveConclusion opened #53 "As of April 14, 2022, Apple is no longer providing COVID-19 mobility trends reports."
![image](https://user-images.githubusercontent.com/63144882/164542134-edf88bb6-e710-4aa0-bf37-d1c6253ecb11.png)
I think it would be a good idea to try to catch someone from Apple and ask them to keep their API endpoint active (maybe even for a fee). But there is no guarantee that such an attempt will be successful.

[2022-05-01 13:15] ActiveConclusion opened #54 "TomTom scraper is failing"
Job: https://github.com/ActiveConclusion/COVID19_mobility/runs/6247139189?check_suite_focus=true

[2022-05-01 17:18] ActiveConclusion commented on #54
Seems like TomTom disabled their daily stats API data endpoint (e.g. https://api.midway.tomtom.com/ranking/dailyStats/JPN_tokyo). If we want to continue to receive this data, we need to invent a new way of extracting and calculating the data through hourly reports. At first glance, this seems like a simple task, but actually, there are a lot of nuances that are not obvious to me.
Does anyone still

[2022-05-22 17:56] ActiveConclusion commented on #54
Work in progress :hammer: :vertical_traffic_light:
https://github.com/ActiveConclusion/TomTom_hourly_data_scraper

[2022-06-14 06:55] VZHARO opened #55 "WAZE Mobility DATA not updated"
Hi all,

The WAZE Mobility data has not been updated for the past 17 days. Could you please have a look and update it if you can as I can see that there are some new data points available.

Thank you in advance,

Regards

[2022-06-26 22:14] ActiveConclusion commented on #55
Updated 27.06

[2022-07-05 07:21] VZHARO commented on #55
Good morning!

I hope you are doing well.

May I kindly ask you to run the scrapper for WAZE data one more time, as I
need recent pints for an update!

Thanks you in advance.

Regards,

Viktor

On Mon, 27 Jun 2022 at 00:15, ActiveConclusion ***@***.***>
wrote:

[2022-07-05 07:37] ActiveConclusion commented on #55
Updated 05.07

[2022-07-08 21:20] ActiveConclusion commented on #55
Updated 09.07

[2022-07-14 20:54] ActiveConclusion commented on #55
No updates since 09.07

[2022-07-19 07:56] VZHARO commented on #55
Good morning!

I hope this email finds you well.

I have noticed that there are some new points available for July, may i
kindly ask you to update the file.

I wish you a lovely day.

Regards,

VZ

On Thu, Jul 14, 2022 at 10:54 PM ActiveConclusion ***@***.***>
wrote:

[2022-07-22 20:44] ActiveConclusion commented on #55
Updated 22.07
P.S. Most likely, this update will be the last...
<img width="463" alt="image" src="https://user-images.githubusercontent.com/63144882/180564949-4726fe7d-fd04-4d14-8424-f8e6bacda31e.png">

[2022-07-23 18:18] ActiveConclusion commented on #54
TomTom data is back. The scraper is working fine.

[2022-07-23 18:18] #54 closed

[2022-07-23 18:20] ActiveConclusion commented on #53
The data source from Apple is no longer active.

[2022-07-23 18:20] #53 closed

[2022-07-31 10:27] ActiveConclusion commented on #55
Waze Covid-19 Impact dashboard has been retired and will no longer be updated as of July 2022. Added a note about that in Readme.
But the good news is that TomTom reports are now available again. Feel free to use them.
Closing this issue.

[2022-07-31 10:27] #55 closed

[2022-08-01 06:17] VZHARO commented on #55
Good afternoon!

Thanks for the update, everything is clear now. I will have a look at Tom
Tom reports in order to see to what extend they can be used.

I wish you a lovely day.

Regards,

Viktor

Вс, 31 июля 2022 г. в 12:28, ActiveConclusion ***@***.***>: